body {
    background-color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: 80px auto;
    color: rgb(225, 225, 225);
}

#header {
    align-self: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

#header button {
    height: 1.5rem;
}

#content {
    display: grid;
    grid-template-columns: 250px auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.inputContainer{
    display: grid;
    grid-template-columns: auto 200px;
    text-align: right;
    gap: 10px;
}