body {
    --blueShade1: rgb(53, 88, 102);
    --greenShade1: rgb(47,79,79);
    --greenShade2: rgb(67,99,99);
    --greenShade3: rgb(117,149,149);
    --lightGray: rgb(137,169,169);
    
    
    background-color: var(--greenShade1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: 80px auto;
    color: rgb(225, 225, 225);
    height: 100vh;
    margin: 0;
}

#header {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#divCurrentProject {
    display: grid;
    width: 250px;
    grid-template-columns: auto, 1fr;
}

.projectTitle {
    grid-row: 1;
}

#header button {
    height: 1.5rem;
}

#content {
    display: grid;
    grid-template-columns: 200px auto;
}

#main {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: rgb(53, 88, 102);
    padding-top: 20px;
    gap: 20px;
}

#sidebar {
    padding: 0 25px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
}

#sidebar > h2 {
    margin: 0;
    text-align: center;
}

.projectList {
    margin-top: 15px;
    display: grid;
    gap: 15px;
    text-align: center;
}

.projectContainer {
    padding: 5px;
}

.projectContainer:hover {
    background-color: var(--greenShade2);
    cursor: pointer;
}

.divCreateProject {
    color: rgb(21, 221, 221);
}

.divCreateProject:hover {
    background-color: rgb(3, 80, 10);
}

.projectControls {
    margin-top: 15px;
    display: grid;
    text-align: center;
    margin-bottom: 10px;
}

.divDeleteProject {
    color: rgb(230, 92, 67);
}

.divDeleteProject:hover {
    background-color: rgb(107, 24, 10);
}

#taskListContainer {
    display: grid;
    justify-content: center;
    justify-self: center;
    padding: 8px;
    background-color: var(--greenShade1);
    width: 500px;
    grid-template-columns: 1fr;
    gap: 20px;
}

#inputContainer{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

#inputLeft {
    display: grid;
    grid-template-columns: auto;
}

.taskInput {
    background-color: var(--greenShade1);
    border: solid 1px var(--greenShade2);
    color: white;
    transition:
        border-color 150ms,
        background-color 150ms;
    padding-left: 5px;
    border-radius: 6px;
}

.taskInput:hover {
    border-color: var(--greenShade3);
}

.taskInput:focus {
    outline:none;
    background-color: var(--greenShade2);
    border-color: var(--greenShade3);
}

.listContainer {
    display:grid;
    gap: 3px;
}

#toggleComplete {
    font-size: 0.8rem;
    color: var(--lightGray);
    margin-top: -10px;
}

#listContainerComplete {
    margin-top: -10px;
}

.taskContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 5px;
}

.taskContainer:hover {
    background-color: var(--greenShade2);
}

.taskContainer > label {
    flex-grow: 1;
}

.checked > label {
    text-decoration: line-through;
    color: var(--greenShade3);
}

.taskContainer > img {
    margin-right: 3px;
}

.taskContainer > img:last-of-type {
    margin-right: 0;
}
.taskContainer > img:first-of-type {
    margin-right: 0;
}

.taskImg {
    width: 18px;
    height: 18px;
}

.taskImg:hover {
    cursor: pointer;
}

.divTaskIndex {
    font-size: 0.7rem;
    margin: 0 1px;
    padding: 1px 6px;
    border-radius: 6px;
    color: var(--lightGray);
    background-color: var(--greenShade2);
}

.flexBreak {
    height: 0;
    flex-basis: 100%;
}

.editDiv {
    display: flex;
    flex-grow: 1;
    padding-right: 45px;
    padding-left: 20px;
    margin: 5px 0;
    gap: 10px;
}

.editInputContainer {
    flex-grow: 1;
    display: flex;
}

.editInputContainer > .taskInput {
    flex-grow: 1;
}

.editSaveButton {
    color: var(--greenShade3);
    border: 1px solid var(--greenShade3);
    background-color: var(--greenShade1);
    border-radius: 6px;
}

.editSaveButton:hover {
    cursor: pointer;
    border-width: 2px;
    margin: -1px;
    background-color: var(--greenShade2);
}